<div class="angular-position-wrapper">
    <div class="angular-positions-circle position-{{currentIndex}}" style="--total: 8">
        <!-- <div class="position-mark" style="--i:1"></div>
        <div class="position-mark" style="--i:2"></div>
        <div class="position-mark" style="--i:3"></div>
        <div class="position-mark" style="--i:4"></div>
        <div class="position-mark" style="--i:5"></div>
        <div class="position-mark" style="--i:6"></div>
        <div class="position-mark" style="--i:7"></div>
        <div class="position-mark" style="--i:8"></div> -->
        <div class="needle"><img src="../../assets/needle.png"></div>
    </div>
    <span class="position-title">{{title}}</span>
</div>