<div class="dashboard-main-wrapper">
    <div class="dashboard-inner-wreppaer">
        <div class="grid-stack">
            <!-- using angular templating to create DOM, otherwise an easier way is to simply call grid.load(items) -->
            <div *ngFor="let n of items; let i = index" class="grid-stack-item" [id]="n.id" [attr.gs-w]="n.w"
                [attr.gs-h]="n.h" [attr.gs-x]="n.x" [attr.gs-y]="n.y" [attr.gs-id]="n.id">
                <div class="grid-stack-item-content">
                    <ng-container *ngIf="n.content === 'tower'">
                        <div class="widget-main-wrapper">
                            <div class="widget-header">Antenna Positioning</div>
                            <div class="widget-content">
                                <div class="image-rotate-wrapper">
                                    <!-- <img src="assets/tower.jpg"> -->
                                    <img [src]="currentImage" useMap="#image-map">
                                    <!--       <map name="image-map">
                                        <area coords="29,130,65,260" shape="rect" (mouseenter)="onAreaHover('area1')" (mouseleave)="mouseLeave()">
                                        <area coords="185,222,226,77" shape="rect" (mouseenter)="onAreaHover('area3')" (mouseleave)="mouseLeave()">
                                    </map> -->
                                    <span class="image-rotate-icon"><img src="assets/360-view.png"
                                            (click)="onImageClick()"></span>

                                </div>
                               <!--  <div class="street-view-wrapper">
                                    <img src="../../assets/street-view.png">
                                </div> -->
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="n.content === 'battery'">
                        <div class="widget-main-wrapper">
                            <div class="widget-header">Rechargeable Battery Percentage</div>
                            <div class="widget-content">
                                <div class="battery-wrapper">
                                    <div class="battery-inner-wrapper" [class.blink]="batteryVal1 <= 10">
                                        <app-svg-battery [value]="batteryVal1"
                                            [style.color]="batteryVal1>45?'green':batteryVal1>15?'DarkOrange':'red'">
                                        </app-svg-battery>
                                        <span class="battery-val">{{batteryVal1}}%</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="n.content === 'angular-positions'">
                        <div class="widget-main-wrapper">
                            <div class="widget-header">Angular Orientation</div>
                            <div class="widget-content">
                                <div class="angular-position-main-wrapper" >
                                    <app-agular-position [title]="angleDirection" [currentIndex]="currentIndex"></app-agular-position>
                                    <!--  <app-agular-position [title]="'Y Position'"></app-agular-position>
                                    <app-agular-position [title]="'Z Position'"></app-agular-position> -->
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="n.content === 'sensor-positions'">
                        <div class="widget-main-wrapper">
                            <div class="widget-header">Set Point Azimuth Deviation</div>
                            <div class="widget-content">
                                <div class="antena-wrapper">
                                    <div class="antena-info-wrapper">
                                        <img src="assets/tower-info.jpg">
                                    </div>
                                    <div class="antena-wrapper">
                                        <img [src]="currentPosition">
                                        <!--   <div class="antenas"><img src="../../assets/antena.png"></div>
                                    <div class="antenas"><img src="../../assets/antena.png"></div>
                                    <div class="antenas"><img src="../../assets/antena.png"></div>
                                    <div class="antenas"><img src="../../assets/antena.png"></div> -->
                                    </div>
                                </div>
                                <div class="chart-wrapper">
                                    <div id="chart-container">
                                        <div class="chart-wrapper">
                                            <img [src]="currentChart">
                                        </div>
                                        <div class="chart-table">
                                            <table *ngIf="currentIndex === 0">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>MEASURED</th>
                                                        <th>TARGET</th>
                                                        <th>DIFFERENCE</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Azimuth (True)</td>
                                                        <td>227.2<sup>o</sup></td>
                                                        <td>227<sup>o</sup></td>
                                                        <td>0.2</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Tilt</td>
                                                        <td>1.0<sup>o</sup></td>
                                                        <td>0.0<sup>o</sup></td>
                                                        <td>1.0</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Roll</td>
                                                        <td>1.0<sup>o</sup></td>
                                                        <td>0.0<sup>o</sup></td>
                                                        <td>1.0</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table *ngIf="currentIndex === 1">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>MEASURED</th>
                                                        <th>TARGET</th>
                                                        <th>DIFFERENCE</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Azimuth (True)</td>
                                                        <td>225.1<sup>o</sup></td>
                                                        <td>225<sup>o</sup></td>
                                                        <td>0.1</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Tilt</td>
                                                        <td>1.2<sup>o</sup></td>
                                                        <td>1.0<sup>o</sup></td>
                                                        <td>1.0</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Roll</td>
                                                        <td>1.8<sup>o</sup></td>
                                                        <td>0.8<sup>o</sup></td>
                                                        <td>1.0</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table *ngIf="currentIndex === 2">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>MEASURED</th>
                                                        <th>TARGET</th>
                                                        <th>DIFFERENCE</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Azimuth (True)</td>
                                                        <td>224.4<sup>o</sup></td>
                                                        <td>224<sup>o</sup></td>
                                                        <td>0.4</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Tilt</td>
                                                        <td>1.1<sup>o</sup></td>
                                                        <td>0.5<sup>o</sup></td>
                                                        <td>0.6</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Roll</td>
                                                        <td>1.5<sup>o</sup></td>
                                                        <td>0.3<sup>o</sup></td>
                                                        <td>1.2</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <!-- <img src="assets/table.jpg"> -->
                                        </div>
                                        <!--   <canvas #myCanvas id="canvas" baseChart [chartType]="chartType" [datasets]="chartData" [labels]="chartLabels" [colors]="chartColors" [options]="chartOptions"></canvas> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="n.content === 'payloads'">
                        <div class="widget-main-wrapper">
                            <div class="widget-header">Packet Capture</div>
                            <div class="widget-content">
                                <img [src]="selectePacketImg">
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="n.content === 'topology'">
                        <div class="widget-main-wrapper">
                            <div class="widget-header">Topology View</div>
                            <div class="widget-content">

                                <img [src]="selectedTopoImg">
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="n.content === 'location-sensor'">
                        <div class="widget-main-wrapper">
                            <div class="widget-header">24/7 Periodic Antenna Alignment Scanner</div>
                            <div class="widget-content">
                                <div class="rader-wrapper">
                                    <div class='radar'>
                                        <div class='sweep'></div>
                                    </div>
                                    <span class="blue-tooth"><img src="assets/blue-tooth.png"></span>
                                    <span class="spot1"><img src="assets/spots.png"></span>
                                    <span class="spot2"><img src="assets/spots.png"></span>
                                    <span class="spot3"><img src="assets/spots.png"></span>
                                    <span class="spot4"><img src="assets/spots.png"></span>
                                    <span class="spot5"><img src="assets/spots.png"></span>
                                    <span class="spot6"><img src="assets/spots.png"></span>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="n.content === 'map-view'">
                        <div class="widget-main-wrapper">
                            <div class="widget-header">Map View</div>
                            <div class="widget-content">
                                <div id='map'></div>
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d206253.45013689317!2d-115.31508529192428!3d36.12491845071429!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80beb782a4f57dd1%3A0x3accd5e6d5b379a3!2sLas%20Vegas%2C%20NV%2C%20USA!5e0!3m2!1sen!2sin!4v1677169274914!5m2!1sen!2sin"
                                    width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="n.content === 'geometric-view'">
                        <div class="widget-main-wrapper">
                            <div class="widget-header">Geometric View</div>
                            <div class="widget-content">
                                <div class="geometric-wrapper">
                                    <img [src]="selectedGeo">
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>