/* AIzaSyCPOMvJC-log9BcaEevoWE_MjkU--TwNs0 */

.widget-main-wrapper {
    .widget-header {
        background: #dd5ac9;
        padding: 10px;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
    }

    .widget-content {
        img {
            width: 100%;
        }

        .battery-wrapper {
            display: flex;
            vertical-align: middle;
            justify-content: center;
            margin-top: 50px;

            .battery-inner-wrapper {
                position: relative;
                width: 150px;

                .battery-val {
                    position: absolute;
                    transform: rotate(90deg);
                    right: 20px;
                    top: 42%;
                    font-size: 12px;
                }
            }

        }
        

        .antena-wrapper {
            display: flex;
            justify-content: space-around;

            .antenas {
                width: 20px;

                img {
                    width: 100%;
                }

            }

            .antenas:nth-child(2) {
                transform: rotate(45deg);
            }

            .antenas:nth-child(3) {
                transform: rotate(-30deg);
            }
        }

    }

    .angular-position-main-wrapper {
        display: flex;
        justify-content: space-around;
        padding: 10px;
        margin-top: 40px;

        .angular-position-wrapper {
            text-align: center;
        }

       
    }
}

.grid-stack-item-content {
    box-shadow: 0px 0px 7px 1px rgb(0 0 0 / 20%);
    background: #fff;
    overflow: hidden;
}

.radar,
.sweep {
    position: absolute;
}
.rader-wrapper {
    display: table;
    margin: auto;
    width: 248px;
    height: 248px;
    .blue-tooth img {
        width: 22px !important;
        position: absolute;
        top: 52%;
        left: 51%;
        transform: translate(-50%, -50%);
    }
}
.radar {
    overflow: hidden;
    top: 50%;
    left: 50%;
    margin: -117px;
    width: 248px;
    height: 248px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.5),
        inset 0 0 0 1px hsla(0, 0%, 100%, 0.15);
    background:
        repeating-radial-gradient(transparent, transparent 23px, #287a33 25px, #287a33 27px),
        linear-gradient(transparent 49.75%, #0e4c42 49.75%, #0e4c42 50.25%, transparent 50.25%) 50% no-repeat,
        linear-gradient(90deg, transparent 49.75%, #0e4c42 49.75%, #0e4c42 50.25%, transparent 50.25%) 50% no-repeat,
        linear-gradient(#ffffff, #ffffff);
    background-size: 100%, 218px 218px, 218px 218px, 100%;
}

.sweep {
    box-sizing: border-box;
    top: 16px;
    left: 16px;
    border-right: solid 1px hsla(145, 50%, 40%, .3);
    width: 108px;
    height: 108px;
    border-radius: 100% 0 0 0;
    transform-origin: 100% 100%;
    background: linear-gradient(50deg, rgba(34, 34, 34, 0) 56%, hsla(145, 50%, 40%, 1));
    animation: sweep 5s infinite linear;
}
.spot1 {
    position: absolute;
    width: 16px;
    left: 56%;
    top: 93px;
}
.spot2 {
    position: absolute;
    width: 16px;
    left: 46%;
    top: 260px;
}
.spot3 {
    position: absolute;
    width: 16px;
    left: 40%;
    top: 120px;
}
.spot4 {
    position: absolute;
    width: 16px;
    left: 56%;
    top: 186px;
}

.spot5 {
    position: absolute;
    width: 16px;
    left: 60%;
    top: 186px;
}

.spot6 {
    position: absolute;
    width: 16px;
    left: 40%;
    top: 186px;
}
.geometric-wrapper {
    width: 38%;
    margin: 0 auto;
}
.street-view-wrapper {
    display: flex;
    position: absolute;
    bottom: 0;
}
@keyframes sweep {
    to {
        transform: rotate(360deg);
    }
}


@mixin on-circle($item-count, $circle-size, $item-size) {
  position: relative;
  width:  $circle-size;
  height: $circle-size;
  padding: 0;
  border-radius: 50%; 
  list-style: none;       
  
  > * {
    display: block;
    position: absolute;
    top:  50%; 
    left: 50%;
    width:  $item-size;
    height: $item-size;
    margin: -($item-size / 2);
  
    $angle: (360 / $item-count);
    $rot: 0;

    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        transform: 
          rotate($rot * 1deg) 
          translate($circle-size / 2) 
          rotate($rot * -1deg);
      }

      $rot: $rot + $angle;
    }
  }
}

.card {
    position: relative;
    width: 130px;
    height: 230px;
    display: flex;
    flex-direction: column;
    span {
        position: absolute;
        top: 0;
        left: calc(100% / 3 * var(--i));
        width: calc(100% / 3);
        height: 100%;

    }
 
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0;
        pointer-events: none;
    }
   
}
.card img:nth-child(2),
.card span:hover + img{
    opacity: 1;
}
.image-rotate-wrapper {
    margin-top: -30px;
}